.paddingTB60 {
  padding: 60px 0px 60px 0px;
}
body {
  background-color: #f8f9fa;
}
.gray-bg {
  background: #f8f9fa !important;
}

.about-title h1 {
  color: black;
  font-size: 45px;
  font-weight: 600;
}
.about-title span {
  color: #af0808;
  font-size: 45px;
  font-weight: 700;
}
.about-title h3 {
  color: #535353;
  font-size: 23px;
  margin-bottom: 24px;
}
.about-title p {
  color: rgb(104, 72, 72);
  line-height: 1.8;
  margin: 0 0 15px;
}
.about-paddingB {
  padding-bottom: 12px;
}
.about-img {
  padding-left: 57px;
}

/* Social Icons */
.about-icons {
  margin: 48px 0px 48px 0px;
}
.about-icons i {
  margin-right: 10px;
  padding: 0px;
  font-size: 35px;
  color: #323232;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.about-icons li {
  margin: 0px;
  padding: 0;
  display: inline-block;
}
#social-fb:hover {
  color: #3b5998;
  transition: all 0.001s;
}
#social-tw:hover {
  color: #4099ff;
  transition: all 0.001s;
}
#social-gp:hover {
  color: #d34836;
  transition: all 0.001s;
}
#social-em:hover {
  color: #f39c12;
  transition: all 0.001s;
}
.footer1 {
  text-align: center;
  background-color: black;
  /* height: 40px; */
}
.link1 {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
.link2 {
  color: #f8f9fa;
}
