<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="login.css" />
<!------ Include the above in your HEAD tag ---------->
<nav
class="navbar navbar-expand-lg "
style="background-color: black;color: white;width: 100%;"
>
<a
  class="navbar-brand"
  href="index.html"
  style="color: white;font-weight: bolder;font-size: x-large;"
  >HIDE IN</a
>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
      <li class="active">
          <a href="index.html"  style="color: whitesmoke;font-size: large;font-weight: 500;;"
          ;">Home</a>
        </li>
  </ul>
  <ul class="navbar navbar-nav navbar-right">
      <li>
        <a href="logReg.html" style="color: white;"
          ><i class="far fa-user"></i>
          Sign Up</a
        >
      </li>
      <li style="padding-left: 20px;">
        <a href="#" style="color: white;"
          ><i class="fas fa-sign-in-alt"></i>
          Login</a
        >
      </li>
    </ul>
</div>
</nav>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="login.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->

  </div>
</div>
